.image {
  /* position: relative; */
  height: 100vh;
  justify-content: center;
}

.image img {
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;

  text-align: center;

  /* width: 100%; */
}

.content span.img-text {
  background-color: #333;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  letter-spacing: 10px;
}
